<div>
    <h1>
        Payments
    </h1>
        <mat-tab-group>
            <mat-tab label="Upcoming Payment">
                <app-upcoming-payments></app-upcoming-payments>
            </mat-tab>
            <mat-tab label="Find By Date">
                <app-payments-by-date></app-payments-by-date>
            </mat-tab>
            <mat-tab label="Find By CSR Ref">
                <app-payments-by-csr-ref></app-payments-by-csr-ref>
            </mat-tab>
            <mat-tab label="Find By Invoice Reference">
                <app-payments-by-invoice-ref></app-payments-by-invoice-ref>
            </mat-tab>
          </mat-tab-group>
</div>