<div class="container">
    <!-- <div class="p-2"></div> -->
    <div class="row justify-content-center">
      <div class="font row justify-content-center">Good Morning {{name}}</div>
      <div class="font row justify-content-center">{{time | date: 'hh:mm a' }}</div>
      <div class="row">
        <div class="input-group mb-5">
          <input type="text" class="form-control" placeholder="Search documents" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button class="btn btn-secondary" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </div>
      <div class="row justify-content-center">
        <div class="col-sm-3" align="center">
          <div class="card border-0 text-center pt-4" style="width: 9rem;">
            <div><i class="fas fa-file-invoice fa-4x"></i></div>
            <div class="card-body">
              <p class="card-text">View Invoice</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3" align="center">
          <div class="card border-0 text-center pt-4" style="width: 9rem;">
            <div><i class="fas fa-tags fa-4x"></i></div>
            <div class="card-body">
              <p class="card-text">Tags</p>
            </div>
          </div>  
        </div>
        <div class="col-sm-3" align="center">
          <div class="card border-0 text-center pt-4" style="width: 9rem;">
            <div><i class="fas fa-calendar-check fa-4x"></i></div>
            <div class="card-body">
              <p class="card-text">View Statement</p>
            </div>
          </div>
        </div>
      </div>
</div>