<!-- <div class="container">
    <p-table [value]="products">
        <ng-template pTemplate="header">
            <tr>
                <th>Account</th>
                <th>Company</th>
                <th>Name</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.Id}}</td>
                <td>{{product.GroupCode}}</td>
                <td>{{product.Name}}</td>
            </tr>
        </ng-template>
    </p-table>
</div> -->