// .top{
//     position: fixed !important;
//     top: 0 !important;
//     background-color: #1d1d1d !important;
//     color: white;
//     width: 100%;
// }

// .bottom{
//     position: fixed !important;
//     bottom: 0 !important;
// }

.Inline-block{
    display: inline-block;
}

select{
    box-sizing: border-box !important;
    border-radius: 5px !important;
    height: 35px;
    width: 150px;
    border-style: none;
    border: 1px solid rgb(238, 238, 238);
    padding: 5px;
}

table {
    width: 100%;
  }

  table > td{
    text-align: center !important;
  }
  
  th{
    background-color: white !important;
  }
  
  tr{
    background-color: white !important;
  }
  
  tr:hover{
    background-color: aliceblue !important;
  }


  .heading{
    display: flex;
    flex-direction: row;
  }

